<form [formGroup]="loginForm">
    <h1>CI funkzioniert</h1>
    <h1>This is tha login</h1>
    <h2>Default credentials: mail = admin@admin.ch - password = test</h2>
    <mat-form-field>
        <input matInput type="mail" formControlName="mail" placeholder="Mail" required>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="password" formControlName="password" placeholder="Password" required>
    </mat-form-field>
    <button mat-flat-button color="primary" type="submit" (click)="login()" [disabled]="!loginForm.valid">Login</button>
</form>